%p
  Each Master Text defines the fallback text that is used. Each one has a "key" which is how the computer knows which one to identify it with. There's a comment which may give some background to how it's used.
  %small
    When there are new texts the Developers add new keys with the English text and perhaps a comment.
    Business owners can come and change the English text.
    In the unlikely event of needing to change the key, Developers can come in and change the key.