- if current_user.edits_master_text? || current_user.is_administrator? || current_user.is_developer?
  - @projects.each do |project|
    = link_to project.name, project_path(project)
- current_user.project_languages.each do |projectlang|
  = link_to projectlang, project_language_path(projectlang)