- if @projects.presence
  - @projects.each do |project|
    = render partial: 'projects/panel', locals: {project: project}
- if @project_languages.presence
  .panel.panel-primary
    .panel-heading
      %h3.panel-title.clearfix
        Translations
    .list-group
      - @project_languages.each do |project_language|
        = render partial: 'project_languages/list_group_item', locals: {project_language: project_language,
          label: project_language, with_description: true}
