= render :partial => 'project_languages/tabs'


.list-group
  - @views.each do |view|
    .list-group-item.clearfix.view
      = link_to project_language_view_path(@project_language, view), class: "btn btn-link" do
        .text-primary
          %i.fa.fa-list-alt
          = view.name
      %small.comments= render "views/comments", view: view

