
form {
//  @extend .well;

  .errors {
    @extend .alert;
    @extend .alert-danger;
    width: inherit;
  }

  .field_with_errors {
    @include form-control-validation($state-danger-text, $state-danger-text, $state-danger-bg);
  }


}

form.localized-texts tr td p {
  margin-bottom: 0;

  &.key {
    font-family: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace;
    color: #ffffff;
    background-color: #BBBBBB;
  }
  &.comment {
    font-style: italic;
    color: #888888;
  }
  &.key, &.comment {
    font-size: 0.75em;
  }
}